@{
    ViewBag.Title = "Menú Principal";
}

<h1 class="titulo-pagina text-center">Menú Principal del Gestor de ONGD de la Fundación Spínola Solidaria</h1>

<div class="row">
    <div class="col-md-4 text-center">
        <h2 class="titulo-item-menu text-center">Gestión de Voluntarios</h2>
        <img src="~/Content/Images/menu/gestionVoluntarios.jpg" class="img-responsive imagen-menu" alt="Gestión de Voluntarios" />
        <a href='@Url.Action("Index", "Voluntarios")' class="btn btn-primary" target="_parent" title="Gestión de Voluntarios">Gestión de Voluntarios</a>
    </div>
    <div class="col-md-4 text-center">
        <h2 class="titulo-item-menu text-center">Gestión de Colaboradores</h2>
        <img src="~/Content/Images/menu/gestionColaboradores.png" class="img-responsive imagen-menu" alt="Gestión de Colaboradores" />
        <a href='@Url.Action("Index", "Colaboradores")' class="btn btn-primary" target="_parent" title="Gestión de Colaboradores">Gestión de Colaboradores</a>
    </div>
    <div class="col-md-4 text-center">
        <h2 class="titulo-item-menu text-center">Gestión de Donaciones</h2>
        <img src="~/Content/Images/menu/gestionDonaciones.jpg" class="img-responsive imagen-menu" alt="Gestión de Donaciones" />
        <a href='@Url.Action("Index", "Donaciones")' class="btn btn-primary" target="_parent" title="Gestión de Donaciones">Gestión de Donaciones</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2 class="titulo-item-menu text-center">Gestión de Sedes</h2>
        <img src="~/Content/Images/menu/gestionSedes.jpg" class="img-responsive imagen-menu" alt="Gestión de Sedes" />
        <a href='@Url.Action("Index", "Sedes")' class="btn btn-primary" target="_parent" title="Gestión de Sedes">Gestión de Sedes</a>
    </div>
    <div class="col-md-4 text-center">
        <h2 class="titulo-item-menu text-center">Gestión de Correspondencia</h2>
        <img src="~/Content/Images/menu/gestionCorrespondencia.jpg" class="img-responsive imagen-menu" alt="Gestión de Correspondencia" />
        <a href='@Url.Action("Index", "Correspondencia")' class="btn btn-primary" target="_parent" title="Gestión de Correspondencia">Gestión de Correspondencia</a>
    </div>
    <div class="col-md-4 text-center">
        <h2 class="titulo-item-menu text-center">Gestión LOPD</h2>
        <img src="~/Content/Images/menu/LOPD.png" class="img-responsive imagen-menu" alt="Gestión LOPD" />
        <a href='@Url.Action("Index", "LOPD")' class="btn btn-primary" target="_parent" title="Gestión LOPD">Gestión LOPD</a>
    </div>
</div>