@model GestorONG.DataModel.voluntario

@{
    ViewBag.Title = "Detalles de Voluntario";
}

<h2 class="titulo-pagina text-center">@Html.DisplayFor(model => model.nombre) @Html.DisplayFor(model => model.apellidos)</h2>

<div>
    <hr />
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidos)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.direccionPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.direccionPostal)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.codigoPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoPostal)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.localidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.localidad)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.provincia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.provincia)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.pais)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pais)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.telefono1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono1)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.telefono2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono2)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.fechaNacimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaNacimiento)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.fechaAlta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaAlta)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Sede)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sede)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Perfiles)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Perfiles)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="row botones-inferiores">
    <div class="col-xs-12 col-md-12 text-center">
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
