@model IEnumerable<GestorONG.DataModel.tiposIncidencias>

@{
    ViewBag.Title = "Tipos de Incidencias de Seguridad";

    if (TempData["Acierto"] != null)
    {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p class="text-center"><span class="glyphicon glyphicon-ok"></span> @TempData["Acierto"]</p>
        </div>
    }
    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p class="text-center"><span class="glyphicon glyphicon-ok"></span> @TempData["Error"]</p>
        </div>
    }
}

<h1 class="titulo-pagina text-center">Listado de Tipos de Incidencias de Seguridad</h1>
<!--  FORMAT TABLE WITH JqueryDatatables-->
@section Scripts{
    @Scripts.Render("~/bundles/jqueryDataTables")
    @Scripts.Render("~/bundles/boostrapSelectJS")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#listado-tipos-incidencias').DataTable({
                "pageLength": 10,
                "pagingType": "full_numbers",
                "language": {
                    "lengthMenu": "Mostrando _MENU_ elementos por página",
                    "zeroRecords": "No se han encontrado resultados - lo lamentamos",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay resultados",
                    "infoFiltered": "(total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior",
                        "first": "Primero",
                        "last": "Último"
                    }
                }
            });
        });
    </script>
}

<p>
    @Html.ActionLink("Nuevo Tipo de Incidencia", "Create", null, null, new { @class = "glyphicon glyphicon-plus btn btn-primary" })
</p>
<table id="listado-tipos-incidencias" class="table table-responsive display" data-page-length='10'>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreIncidencia)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreIncidencia)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "glyphicon glyphicon-edit" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </tbody>
</table>