@model IEnumerable<GestorONG.DataModel.entradasSalidasInformacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numDocumentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoDatos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.formaEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personaResponsable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numDocumentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDatos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formaEnvio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personaResponsable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
