@model GestorONG.DataModel.incidenciasSeguridad

@{
    ViewBag.Title = "Detalles de la Incidencia de Seguridad";
}

<h2 class="titulo-pagina text-center">@Html.DisplayFor(model => model.descripcion)</h2>

<div>
    <hr />
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.fechaIncidencia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaIncidencia)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.tiposIncidencias.nombreIncidencia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tiposIncidencias.nombreIncidencia)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.efectosDerivados)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.efectosDerivados)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.medidasCorrectoras)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.medidasCorrectoras)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.idComunicante)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.empleados.nombre) @Html.DisplayFor(model => model.empleados.apellidos)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.idReceptor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.empleados1.nombre) @Html.DisplayFor(model => model.empleados1.apellidos)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="row botones-inferiores">
    <div class="col-xs-12 col-md-12 text-center">
        @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-outline-primary" })
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary btn-outline-danger" })
    </div>
</div>
