@model IEnumerable<GestorONG.DataModel.sede_delegacion>

@{
    ViewBag.Title = "Listado de Sedes y Delegaciones";
    if (TempData["Acierto"] != null)
    {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <p class="text-center"><span class="glyphicon glyphicon-ok"></span> @TempData["Acierto"]</p>
        </div>
    }
}

<!--  FORMAT TABLE WITH JqueryDatatables-->
@section Scripts{
    @Scripts.Render("~/bundles/jqueryDataTables")
    @Scripts.Render("~/bundles/boostrapSelectJS")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#listado-sedes').DataTable({
                "pageLength": 10,
                "pagingType": "full_numbers",
                "language": {
                    "lengthMenu": "Mostrando _MENU_ elementos por página",
                    "zeroRecords": "No se han encontrado resultados - lo lamentamos",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay resultados",
                    "infoFiltered": "(total de _MAX_ registros)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior",
                        "first": "Primero",
                        "last": "Último"
                    }
                },
                "columnDefs": [
            {
                "targets": [1],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [2],
                "visible": false
            },
                ],
                "initComplete": function () {
                    this.api().columns([4,5]).every(function () {
                        var column = this;
                        var select = $('<select class="selectpicker"><option value="" selected>Selecciona un valor</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
            $('listado-sedes_length').val(10);
        });
    </script>
}

<p>
    @Html.ActionLink("Nueva Sede", "Create", null, null, new { @class = "glyphicon glyphicon-plus btn btn-primary" })
</p>
<table id="listado-sedes" class="table table-responsive display" data-page-length='10'>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personaContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoContacto)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personaContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoContacto)
            </th>
            <th>Acciones</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoPostal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.localidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personaContacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailContacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefonoContacto)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "glyphicon glyphicon-edit" })
                    @Html.ActionLink("Detalle", "Details", new { id = item.id }, new { @class = "glyphicon glyphicon-info-sign" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </tbody>
</table>
