<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestor ONGD Fundación Spínola Solidaria</title>
    <!--@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")-->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/jqueryDataTablesCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/jqueryUICSS")
    
    <!--<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home", new {@class="navbar-brand"})'>
                    <img src='@Url.Content("~/Content/Images/common/logo.png")' class="img-responsive img-logo" />'
                </a>
              </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Voluntarios", "Index", "Voluntarios")</li>
                    <li>@Html.ActionLink("Colaboradores", "Colaboradores", "Home")</li>
                    <li>@Html.ActionLink("Donaciones", "Donaciones", "Home")</li>
                    <li>@Html.ActionLink("Sedes", "Index", "Sedes")</li>
                    <li>@Html.ActionLink("Correspondencia", "Correspondencia", "Home")</li>
                    <li>@Html.ActionLink("LOPD", "LOPD", "Home")</li>
                    <li>@Html.ActionLink("Configuración", "Configuracion", "Home")</li>
                </ul>
                <p class="nav navbar-text user-header">¡Hola, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content relleno-superior">
        @RenderBody()
        <hr />
    </div>
    <div class="container-fluid footer">
        <footer>
            <div class="row">
                <div class="navigation-menu col-xs-12 col-md-6">
                    <ul class="navigation-menu-list">
                        <li><a href="https://www.spinolasolidaria.org" target="_blank" title="Página Web Fundación Spínola Solidaria">Página Web SPS</a></li>
                        <li><a href="http://webmail.spinolasolidaria.org" target="_blank" title="Correo Corporativo Fundación Spínola Solidaria">Correo Corporativo SPS</a></li>
                        <li><a href="http://formacion.spinolasolidaria.org" target="_blank" title="Formación Voluntariado Internacional">Formación Voluntariado Internacional</a></li>
                        <li><a href="http://formacion.spinolasolidaria.org" target="_blank" title="Formación Voluntariado Internacional">Formación Voluntariado Internacional</a></li>
                        <li><a href="http://formacion.spinolasolidaria.org" target="_blank" title="Formación Voluntariado Internacional">Formación Voluntariado Internacional</a></li>
                    </ul>    
                </div>
                <div class="logo-footer col-xs-12 col-md-6">
                    <img src='@Url.Content("~/Content/Images/common/logo.png")' class="img-responsive img-logo" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 copyright">
                    <p class="text-center footer-text">&copy; @DateTime.Now.Year - Gestor ONGD Fundación Spínola Solidaria - Desarrollado por Joaquín A. Duro Arribas</p>
                </div>
            </div>            
         </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
