@model GestorONG.ViewModel.DonacionesViewModel

@{
    ViewBag.Title = "Eliminar una Donación";
}
<h2 class="confirmacion-eliminacion">¿Estás seguro de que deseas eliminar la donación del Colaborador @Html.DisplayFor(model => model.donacion.colaboradores.nombre) @Html.DisplayFor(model => model.donacion.colaboradores.apellidos)?</h2>
<div>
    <hr />
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.donacion.cantidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.donacion.cantidad)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.donacion.fechaAlta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.donacion.fechaAlta)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.donacion.idColaborador)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.donacion.colaboradores.nombre) @Html.DisplayFor(model => model.donacion.colaboradores.apellidos)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.donacion.periodicidades.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.donacion.periodicidades.nombre)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NIF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NIF)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.cuentaBancaria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cuentaBancaria)
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row botones-inferiores">
            <div class="col-xs-12 col-md-12 text-center">
                <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>
        </div>
    }
</div>
