@model GestorONG.DataModel.vistaColaboradores

@{
    ViewBag.Title = "Eliminar un Colaborador";
}

<h2 class="confirmacion-eliminacion">¿Estás seguro de que deseas eliminar el colaborador @Html.DisplayFor(model => model.nombre) @Html.DisplayFor(model => model.apellidos)?</h2>
<p class="lead text-center">Atención: ¡Se eliminarán también todas las donaciones asociadas al colaborador!</p>
<div>
    <hr />
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.apellidos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidos)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.direccionPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.direccionPostal)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.codigoPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoPostal)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.localidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.localidad)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.provincia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.provincia)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.pais)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pais)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.telefono1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono1)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.telefono2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono2)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.fechaNacimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaNacimiento)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CIF_NIF)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CIF_NIF)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CuentaBancaria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CuentaBancaria)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Perfiles)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Perfiles)
                </dd>
            </dl>
        </div>
    </div>
    <h2 class="text-center">Donaciones</h2>
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.cantidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cantidad)
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.fechaAlta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaAlta)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row fila-form">
        <div class="col-xs-12 col-md-6 text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Periodicidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Periodicidad)
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="row botones-inferiores">
            <div class="col-xs-12 col-md-12 text-center">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
